*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    margin-top: 0;
}
nav{
    margin: 15px;
    text-align: left;
}
.nav{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    margin: 0,3%;
    padding: 0,3%;
    left: 0;
}
nav a:hover{
    animation: colornav 1s ease 0s infinite alternate;
}
@keyframes colornav {
    from {background-color: grey;}
    to {background-color: rgb(73, 60, 60);}
}

a:hover{
    background-color: blue
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    position: fixed;
    padding: 20px;
    height: 50px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin-top: 0;
}
footer a:hover{
    background-color: black;
}

#icon{
    color: white;
    padding: 2px;
   

}
#icon:hover{
    animation: cambiacolor 0.5s ease 0s infinite alternate;
}

@keyframes cambiacolor{
    form {color: white;}
    to {color: gray;}
}
form{
    background-color: lightgray;
    border-radius: 15px;
    max-width:50%;
    padding: 1%;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
fieldset {
    width:100%;
}
input[type=text],input[type=date],input[type=email],select,input[type=radio],input[type=checkbox]{
    border-radius: 4px;
    margin: 1%;
}
.brunoimg{
    display: flex;
    margin:auto;
    padding: 1%;
}
body {
    margin: 0;
    padding: 0;
}
h2{
    padding: 3%;
}
h3{
    padding: 1%;
}
body{
    text-align: center;
}
.parrafo{
    margin-bottom: 100px;
    padding: 3%;
    text-align: justify;
}
.titulo{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
article{
    display: inline-block;
    margin: 3%;
}
table{
    margin: auto;
}
td{
    border:black 1px solid;
    text-align: left;
}

.ulreceta{
    margin-bottom: 110px;
    margin-left: 20%;
    margin-right: 20%;
}
/*p{
    padding: 1%;
    margin-left: 10%;
    margin-right: 10%;
}*/
.ol{
    display: inline;
    background-color: black;
}
li{
    display: inline;
}
li::after{
    content: " / ";
}
Li:last-child::after{
    content: "";
}
#submit{
    background-color: lightgreen;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: grey;
    margin: 1%;
    padding: 3%;
    font-size: large;
    line-height: 0px;
}
#submit:hover{
    animation:colorbotones 0.5s ease 0s infinite alternate
}
@keyframes colorbotones{
    from {background-color: lightgreen;}
    to {background-color: gray;}
}
#borrar{
    background-color: grey;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: grey;
    margin: 1%;
    padding: 3%;
    line-height: 0px;
    font-size: large;
}
#borrar:hover{
    animation: colorbotones 0.5s  ease 0s infinite alternate;
}
input, select {
    padding: 1%;
}
menu{
    margin-bottom: 110px;
}
@media only screen and (max-width: 800px){
 .center{width: 500px;}
 .nav{font-size: 1.5vw;}   
}

